:root {
    /* Main Code Div */
    --code_area_sizeX        : 500px;
    --code_area_bg-color     : #f9f9f9 !important;
    --code_area_border_radius: .5rem;
    --code_font_family       : monospace;
    --code_default_color     : #00193a;


    --inside_padding: 2rem;
    --inside_margin : 0;
    --inside_sizeX  : 100%;

    --line_height: 1.2rem;
    --line_sizeX : 100%;
    --word_margin: auto;

    --line_hover_enum_color: #91A8D0;
    --line_hover_text_color: #E2EEFF;

    --line_enum_default_bg_color: #FAEEE7;
    --line_enum_first_bg_color  : #cfc5c0;
    --line_enum_last_bg_color   : #cfc5c0;
    --line_enum_default_font_color: #3D3C42;
    --line_enum_first_font_color  : #3D3C42;
    --line_enum_last_font_color   : #3D3C42;
}

div.mw_hljstoreact {
    position        : relative;
    display         : flex;
    justify-content : center;
    width           : var(--code_area_sizeX);
    border-radius   : var(--code_area_border_radius);
    background-color: var(--code_area_bg-color); 
    pre {

        width  : var(--inside_sizeX);
        margin : var(--inside_margin);
        
        
        
        code { 
            font-family: var(--code_font_family);
            color: var(--code_default_color);

            &.n .line {
                grid-template-columns: 3rem auto;

                & .line-txt {
                    padding-left: 1rem;
                }
            }

            &.h .line:hover {
                & .line-num {
                    background-color: var(--line_hover_enum_color);
                }

                & .line-txt {
                    background-color: var(--line_hover_text_color);
                }
            }

            /* Line Height */
            div {
                
                &.line {
                    display: grid;
                    min-height: var(--line_height);
                    width: var(--line_sizeX);
                    white-space: pre-wrap !important;
                    
                    &:first-child .line-num{
                        background-color      : var(--line_enum_first_bg_color);
                        border-top-left-radius: var(--code_area_border_radius );
                    }
                    &:last-child .line-num{
                        background-color         : var(--line_enum_last_bg_color);
                        border-bottom-left-radius: var(--code_area_border_radius);
                    }

                    & .line-num {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--line_enum_default_bg_color);
                        font-weight: 700;
                    }
                    
                    & .line-txt {
                        display: flex;
                        align-items: center;
                        height: 100%;

                        p {
                            margin: 0;
                        }
                    }
                    

                    span {
                        margin-right: var(--word_margin);

                        &.hljs-built_in, &.hljs-doctag, &.hljs-keyword, &.hljs-name, &.hljs-section, &.hljs-selector-tag, &.hljs-strong, &.hljs-title, &.hljs-params {
                            font-weight: 700;
                        }

                        &.hljs-comment {
                            color: #bbb;
                        }
                        
                        &.hljs-addition, &.hljs-built_in, &.hljs-literal, &.hljs-name, &.hljs-quote, &.hljs-section, &.hljs-selector-class, &.hljs-selector-id, &.hljs-string, &.hljs-tag, &.hljs-title, &.hljs-type {
                            color: #24A19C;
                        }

                        &.hljs-built_in, &.hljs-title.function_{
                            color: #D96098;
                        }

                        &.hljs-keyword {
                            color: #325288;   
                        }

                        &.hljs-params {
                            color: #7F5283;   
                        }
                    }      
                }
            }
        }
    }
}




.hljs-attribute, .hljs-bullet, .hljs-deletion, .hljs-link, .hljs-meta, .hljs-regexp, .hljs-subst, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    color: #4c81c9;
}
.hljs-emphasis {
    font-style: italic;
}